<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class='container-fluid'>

        <div class='jumbotron text-center'>
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class='row'>
            <h2>Latest Mars News</h2>
            <h3>{{dictionary.news_title}}</h3>
            <p>{{dictionary.news_p}}</p>
        </div>
        
        <div class='row'>
            <div class='col-12 col-md-9'>
                <h2>Featured Mars Image</h2>
                <img src="{{ dictionary.featured_img_url }}" alt="Featured Image url"/>
            </div>
            
            <div class='col-12 col-md-3'>
                <h3>Mars Facts</h3>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Stat</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>{{dictionary.table[0].Stat}}</td>
                        <td>{{dictionary.table[0].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[1].Stat}}</td>
                        <td>{{dictionary.table[1].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[2].Stat}}</td>
                        <td>{{dictionary.table[2].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[3].Stat}}</td>
                        <td>{{dictionary.table[3].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[4].Stat}}</td>
                        <td>{{dictionary.table[4].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[5].Stat}}</td>
                        <td>{{dictionary.table[5].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[6].Stat}}</td>
                        <td>{{dictionary.table[6].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[7].Stat}}</td>
                        <td>{{dictionary.table[7].Value}}</td>
                    </tr>
                    <tr>
                        <td>{{dictionary.table[8].Stat}}</td>
                        <td>{{dictionary.table[8].Value}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class='row'>
            <h2>Mars Hemispheres</h2>
            <hr>
            <div class="card" style='width:50%'>
                <img src='{{dictionary.hemiList[0].img_url}}' alt='{{dictionary.hemiList[0].title}}'/>
                <h5>{{dictionary.hemiList[0].title}}</h5>
            </div>
            <div class="card" style='width:50%'>
                <img src='{{dictionary.hemiList[1].img_url}}' alt='{{dictionary.hemiList[1].title}}'/>
                <h5>{{dictionary.hemiList[1].title}}</h5>
            </div>
            <div class="card" style='width:50%'>
                <img src='{{dictionary.hemiList[2].img_url}}' alt='{{dictionary.hemiList[2].title}}'/>
                <h5>{{dictionary.hemiList[2].title}}</h5>
            </div>
            <div class="card" style='width:50%'>
                <img src='{{dictionary.hemiList[3].img_url}}' alt='{{dictionary.hemiList[3].title}}'/>
                <h5>{{dictionary.hemiList[3].title}}</h5>
            </div>
        </div>

    </div>
</body>

</html>